name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: no args
      id: no-args
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: no args
        setup-command: cd src/requirement/ && make
        command: "./src/requirement/cmpsh"
        input: date
        expected-output: '2025'
        comparison-method: contains
        timeout: 10
        max-score: 1
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        NO-ARGS_RESULTS: "${{steps.no-args.outputs.result}}"
      with:
        runners: no-args
